 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

    --font-secondary:"IBM Plex Sans", sans-serif;
    --font--primary:"IBM Plex Mono", sans-serif;
    --font-tertiary:"Space Grotesk", sans-serif;
  /* ==========================
      Brand Colors
  ========================== */

  --color-primary: #05668d;     /* Baltic Blue */
  --color-secondary: #004d57;   /* Teal */
  --color-accent: #00a896;      /* Verdigris */
  --color-success: #02c39a;     /* Mint Leaf */
  --color-cream: #f0f3bd;       /* Cream */

  /* ==========================
      Backgrounds
  ========================== */

  --bg-main: #ffffff;
  --bg-section: #f0f3bd;
  --bg-card: #ffffff;
  --bg-footer: #05668d;

  /* ==========================
      Text
  ========================== */

  --text-primary: #1f2937;
  --text-secondary: #6b7280;
  --text-light: #ffffff;

  /* ==========================
      Buttons
  ========================== */

  --btn-primary: #05668d;
  --btn-primary-hover: #04506f;

  --btn-secondary: #02c39a;
  --btn-secondary-hover: #00a896;

  /* ==========================
      Borders & Shadow
  ========================== */

  --border-color: #e5e7eb;

  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 6px 18px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 12px 30px rgba(0, 0, 0, 0.15);

  /* ==========================
      Border Radius
  ========================== */

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-full: 999px;

  /* ==========================
      Transition
  ========================== */

  --transition: all 0.3s ease;
}




.footer-container{
    color: var(--bg-card);
    margin-top: 6rem;
    min-height: 70vh;
    height: auto;
    background: var(--btn-primary);
    padding: 1rem;
}

.foot-head{
    font-family: var(--font-tertiary);
    /* white-space: nowrap; */
    
}
.foot-btn{
    display: flex;
    justify-content: end;
    margin-top: 3rem;
    padding-bottom: 2rem;
}
.btn{
    height: 3rem;
    width: 9rem;
    border-radius: 2rem;
    background-color: var(--btn-secondary-hover);
    font-weight: 600;
    color: white;
}
.btn:hover{
    background: white !important;
    color: black;
}

@media (max-width:990px){
    .foot-btn{
        justify-content: start  ;
        padding-bottom: 0.2rem;
    }
    .social-media{
        display: flex;
        justify-content: start !important;
    }

}